{% load static %}
{% load bootstrap3 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery=1 %}
{% bootstrap_messages %}
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/dataTables.bootstrap.min.js"></script>
<script src "https://cdn.datatables.net/plug-ins/1.10.15/sorting/stringMonthYear.js"></script>
<script>
$(document).ready(function() {
    $( ".navbar-nav .nav-item" ).bind( "click", function(event) {
        var clickedItem = $( this );
        $( ".navbar-nav .nav-item" ).each( function() {
            $( this ).removeClass( "active" );
        });
        clickedItem.addClass( "active" );
    });
});
</script>
<html lang="en">
<body>
    <div class="page-header">
        <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
	<!-- <span class="icon-bar"></span> --!>
	<span class="icon-bar"></span>
      </button>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="nav-item index"><a href="/project_tracker">Home</a></li>
	<li class="nav-item job_list"><a href="/project_tracker/job_list">View Job List</a></li>
	<li class="nav-item open_items"><a href="/project_tracker/open_items">Open Items</a></li>
	<li class="nav-item project_schedule"><a href="/project_tracker/project_schedule">Project Schedule</a></li>
	<li class="nav-item inventory_control"><a href="/project_tracker/inventory_control">Inventory Control</a></li>
	<li class="nav-item wallcovering"><a href="/project_tracker/wallcovering">Wallcovering</a></li>
	<li class="nav-item go_to_job_finder"><a href="/project_tracker/go_to_job_finder">GoTo Job Finder</a></li>
	<li class="nav-item book_new_job"><a href="/project_tracker/book_new_job">Book New Job</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-12">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>
