{% load static %}
{% load bootstrap3 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery=1 %}
{% bootstrap_messages %}
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script>

$(document).ready(function() {
    $( ".navbar-nav .nav-item" ).bind( "click", function(event) {
        var clickedItem = $( this );
        $( ".navbar-nav .nav-item" ).each( function() {
            $( this ).removeClass( "active" );
        });
        clickedItem.addClass( "active" );
    });
});
</script>
<html lang="en">
<body>
    <div class="page-header">
        <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
	<!-- <span class="icon-bar"></span> --!>
	<span class="icon-bar"></span>
      </button>
      <a class="active navbar-brand" href="/project_tracker">Gerloff Painting<span class="sr-only">(current)</span</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="nav-item background"><a href="/project_tracker">Home</a></li>
	<li class="nav-item audit"><a href="/project_tracker">View Job List</a></li>
	<li class="nav-item active_jobs"><a href="/project_tracker">Open Items</a></li>
	<li class="nav-item active_jobs"><a href="/project_tracker">Project Schedule</a></li>
	<li class="nav-item active_jobs"><a href="/project_tracker">Inventory Control</a></li>
	<li class="nav-item active_jobs"><a href="/project_tracker">Wallcovering</a></li>
	<li class="nav-item active_jobs"><a href="/project_tracker">GoTo Job Finder</a></li>
	<li class="nav-item active_jobs"><a href="/project_tracker">Book New Job</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-12">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>
