{% extends 'base.html' %}
{% block content %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script>
$( ".index" ).addClass("active"); 
</script>
</head>

</div>
<center class="container">
        <div  style="overflow: auto;">
	    
<div class="w3-display-container w3-content w3-wide" style="max-width:1550px;" id="home">
  <img class="w3-image" src="https://www.w3schools.com/w3images/architect.jpg" alt="jp" width="1550" height="100vh">
  <div class="w3-display-middle w3-margin-top w3-center">
    <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min"><b>Gerloff</b></span> <span class="w3-hide-small w3-text-light-grey">Painting</span></h1>
  </div>
</div>
	</div>
</center>
{% endblock %}
~      
